.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  border-radius: 15px;

  &__card {
    align-self: center;
  }

  &__summary {
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 1024px) {
      margin-bottom: 1rem;
    }

    &--item {
      width: 20%;
      height: 10vh;
      background-color: #aaa;
      transition: all 0.3s;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transition: all 0.3s;
      color: #fff;

      @media screen and (max-width: 1300px) {
        width: 24%;
        height: 9vh;
      }

      & > span {
        display: none;
        transition: all 3s; //not working
      }

      &:hover {
        & > span {
          display: block;
        }
      }

      .title {
        border-bottom: 2px solid #107360;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: small;
      }

      .amount {
        font-size: x-large;
        font-weight: bold;
        @media screen and (max-width: 1300px) {
          font-size: larger;
        }
      }

      &.incomes {
        border-left: 10px solid #27ae60;
        transition: all 0.3s;
        &:hover {
          background-color: #27ae60 !important;

          .main__summary--icon {
            display: none;
          }
        }
      }

      &.expenses {
        border-left: 10px solid #c0392b;
        transition: all 0.3s;
        &:hover {
          background-color: #c0392b !important;

          .main__summary--icon {
            display: none;
          }
        }
      }

      &.debts {
        border-left: 10px solid #1f4992;
        transition: all 0.3s;
        &:hover {
          background-color: #1f4992 !important;

          .main__summary--icon {
            display: none;
          }
        }
      }
    }

    &--icon {
      svg {
        fill: #555;

        @media screen and (max-width: 1300px) {
          width: 3rem;
        }
      }
    }
  }
}
