.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background-color: #ccc;
  border-radius: 15px;
  margin-top: 2rem;

  &__card {
    align-self: center;
  }

  &__summary {
    display: flex;
    justify-content: space-evenly;

    &--item {
      width: 20%;
      height: 10vh;
      background-color: #aaa;
      transition: all 0.3s;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      transition: all 0.3s;
      color: #fff;

      & > span {
        display: none;
        transition: all 3s; //not working
      }

      &:hover {
        & > span {
          display: block;
        }
      }

      .title {
        border-bottom: 2px solid #107360;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;
      }

      .amount {
        font-size: x-large;
        font-weight: bold;
      }

      &.incomes {
        border-left: 10px solid #27ae60;
        &:hover {
          background-color: #27ae60 !important;

          .main__summary--icon {
            display: none;
          }
        }
      }

      &.expenses {
        border-left: 10px solid #f39c12;
        &:hover {
          background-color: #f39c12 !important;

          .main__summary--icon {
            display: none;
          }
        }
      }

      &.debts {
        border-left: 10px solid #c0392b;
        &:hover {
          background-color: #c0392b !important;

          .main__summary--icon {
            display: none;
          }
        }
      }
    }
  }
}
