//___________________________________________________________________________________________________//
//INDIVIDUAL RECENTMOVEMENTITEM STYLES ARE WORKED HERE
//___________________________________________________________________________________________________//

.recentMovements {
  background-color: #eee;
  min-width: 25vw;
  height: 44rem;
  max-height: 72vh;
  margin: 2rem;
  border-radius: 15px;
  overflow-x: hidden;

  @media screen and (max-width: 500px) {
    margin: 2rem 0;
  }

  &::-webkit-scrollbar {
    width: 1em;

    @media screen and (max-width: 500px) {
      width: 0.5rem;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #107360;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #10735fcc;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #10735fcc;
  }

  &__title {
    margin: 1rem;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #107360;
    color: #107360;
  }

  &__content {
    margin: 1.5rem;
    list-style: none;

    &.dark {
      & .recentMovements__content--item {
        background-color: #333;
      }
    }

    &--item {
      cursor: pointer;
      padding: 1rem;
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      position: relative;
      border-radius: 10px;
      transition: all 0.3s;

      & .face {
        display: flex;
        justify-content: space-between;

        & .text {
          flex: 1;
          display: flex;
          align-items: center;

          & .name {
            margin-right: 1rem;
          }
        }
      }

      & .extra {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .date {
          width: 6rem;
        }
      }

      &.recentMoventIncome {
        border-left: 10px solid rgb(16, 115, 96);
      }

      &.recentMoventExpense {
        border-left: 10px solid #c0392b;
      }

      &.recentMoventDebt {
        border-left: 10px solid #1f4992;
      }

      &.recentMoventStock {
        border-left: 10px solid #e2871e;
      }

      @media (hover: hover) {
        &:hover {
          transform: translateY(-0.5rem);
        }
      }
    }
  }
}
