.finpalCard {
  background: url(../../assets/images/card.svg);
  height: 16rem;
  width: 25rem;
  position: relative;
  border-radius: 20px;
  border-bottom-left-radius: 30px;

  &__money {
    color: #fff;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    font-size: xx-large;
    & p {
      font-size: large;
      margin-bottom: 0.5rem;
    }
  }

  &__btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
