.balance {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;

  &__container {
    display: flex;

    &.dark {
      & > div > .items {
        background-color: #222;
      }
    }

    & > div {
      color: #333;
      margin: 4rem;
      width: 50%;

      & > .title {
        display: flex;
        justify-content: space-evenly;
        color: #fff;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 1rem;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      & > .items {
        list-style: none;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
      }
    }

    &--left {
      .title {
        background-color: #107360;
      }
      .items > li {
        &:not(:last-child) {
          border-bottom: 1px dotted #107360;
        }
      }
    }

    &--right {
      .title {
        background-color: #731010;
      }
      .items > li {
        &:not(:last-child) {
          border-bottom: 1px dotted #731010;
        }
      }
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #123596;
    font-size: xx-large;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
      background-color: #1541b9;
    }
  }
}
