.balance {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;

  &__container {
    display: flex;
    z-index: 1;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &.dark {
      & > div > .items {
        background-color: #222;
      }
    }

    & > div {
      color: #333;
      margin: 2rem 4rem;
      width: 50%;

      @media screen and (max-width: 1024px) {
        margin: 2rem;
      }

      @media screen and (max-width: 768px) {
        width: 80%;
      }

      & > .title {
        display: flex;
        justify-content: space-evenly;
        color: #fff;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding: 1rem;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      & > .items {
        list-style: none;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #eee;
      }
    }

    &--left {
      .title {
        background-color: #107360;
      }

      .items {
        max-height: 55vh;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 1em;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 15px;
          background-color: #107360;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #10735fcc;
        }

        &::-webkit-scrollbar-thumb:active {
          background-color: #10735fcc;
        }

        & > li {
          &:not(:last-child) {
            border-bottom: 1px dotted #107360;
          }
        }
      }
    }

    &--right {
      .title {
        background-color: #731010;
      }
      .items {
        max-height: 55vh;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 1em;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 15px;
          background-color: #731010;
        }

        &::-webkit-scrollbar-thumb:hover {
          background-color: #731010cc;
        }

        &::-webkit-scrollbar-thumb:active {
          background-color: #731010cc;
        }

        & > li {
          &:not(:last-child) {
            border-bottom: 1px dotted #731010;
          }
        }
      }
    }
  }

  &__btn {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 30px;
    padding: 1rem;
    background-color: #123596;
    font-size: xx-large;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
      background-color: #1541b9;
    }
  }

  &__icon {
    position: absolute;
    right: 10rem;
    bottom: 3rem;
    width: 25%;
    height: auto;
    z-index: 0;
    filter: opacity(80%);
  }
}
