.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 1rem 0;

  @media screen and (max-width: 1024px) {
    &.nop {
      justify-content: start;
      height: 70px;
    }
  }

  @media screen and (max-width: 500px) {
    height: 30px;
    margin: 1rem 0 1rem;
  }

  &__input {
    display: flex;
    align-items: center;
    height: 2.7rem;

    @media screen and (max-width: 800px) {
      height: 2rem;
      margin-left: 1rem;
    }

    @media screen and (max-width: 800px) {
      height: 1.5rem;
      margin-left: 0;
    }

    &--search {
      width: 25rem;
      height: 100%;
      padding: 0 2rem;
      background-color: transparent;
      transition: transform 250ms ease-in-out;
      font-size: 18px;
      color: inherit;
      border: 2px solid #107360;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      transition: all 0.3s;

      @media screen and (max-width: 800px) {
        width: 18rem;
      }

      @media screen and (max-width: 500px) {
        width: 9rem;
        padding: 0 0.75rem;
        font-size: 12px;
      }

      &:hover,
      &:focus {
        outline: 0;
        padding: 12px 0;
        border: 2px solid transparent;
        border-bottom: 2px solid #107360;
        border-radius: 0;

        & + svg {
          background-color: transparent;
          border-bottom: 2px solid #107360;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          stroke: #107360;
          fill: #107360;
          transform: scale(-1, 1);
        }
      }
    }

    &--icon {
      height: 100%;
      width: 3.5rem;
      padding: 0.3rem 0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: #107360;
      stroke: white;
      fill: white;
      transition: all 0.3s;
      cursor: pointer;

      @media screen and (max-width: 500px) {
        width: 2.3rem;
      }
    }
  }

  &__user {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1024px) {
      height: 4rem;
    }

    @media screen and (max-width: 500px) {
      margin-top: 1rem;
    }

    svg {
      stroke: #107360;
      fill: #107360;
      transition: all 0.3s;
    }

    & h3 {
      margin-top: 0.5rem;
      color: #107360;
      transition: all 0.3s;
    }

    &:hover {
      font-size: 20px;
      & h3 {
        color: #059b7d;
      }
      & svg {
        fill: #059b7d;
        stroke: #059b7d;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.hidden {
  display: none;
}
